<a href="https://colab.research.google.com/github/rohansejwal-netizen/Price-Prediction/blob/main/mumbai%3Dcat_boost_0_89_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [646]:
import pandas as pd
import numpy as np

In [647]:
file_path="/content/UPDATED DATA"
main=pd.read_csv(file_path)

In [648]:

main['Floor No'].replace('Upper Basement',np.nan,inplace=True)
main['Floor No'].replace('Lower Basement',np.nan,inplace=True)
main['Floor No'].replace('Ground',0,inplace=True)
main.dropna(subset=['Floor No'],inplace=True)

/tmp/ipython-input-328279332.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Floor No'].replace('Upper Basement',np.nan,inplace=True)
/tmp/ipython-input-328279332.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Floor No'].replace('Lower Basement',np.nan,inplace=True)
/tmp/ipython-input-328279332.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Floor No'].replace('Ground',0,inplace=True)

In [649]:
main['furnished Type'].replace('NO IDEA',np.nan,inplace=True)
main.dropna(subset=['furnished Type'],inplace=True)

/tmp/ipython-input-1744672434.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['furnished Type'].replace('NO IDEA',np.nan,inplace=True)

In [650]:
main["Floor No"].unique()

array(['5', '20', '18', '8', '16', '1', '4', '10', '9', '2', '11', '21',
       '7', '3', 'Visit & See', '12', '6', '17', '15', 0, '14', '13',
       '19', '27', '26', '29', '25', '24', '23', '35', '40', '34', '28',
       '32', '30', '22', '38', '33', '45', '47', '60', '37', '31', '93',
       '36', '39', '46', '42', '43', '50', '48', '61', '49', '51', '54',
       '55', '62', '41', '57', '56', '44', '71', '52', '65', '58', '59',
       '64', '63', '66'], dtype=object)

In [651]:
main['Floor No'].replace({
    'Visit & See': np.nan
},inplace=True)

/tmp/ipython-input-1692829512.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Floor No'].replace({

In [652]:
main["Units Available"].replace('Not Mentioned',np.nan,inplace=True)

/tmp/ipython-input-319591635.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main["Units Available"].replace('Not Mentioned',np.nan,inplace=True)

In [653]:
main.drop("Units Available",axis=1,inplace=True)

In [654]:
main.drop("Price (English)",axis=1,inplace=True)

In [655]:
main.drop('Booking Amount',axis=1,inplace=True)

In [656]:
main['Property Uniqueness'].replace('NOT AVAILABLE',np.nan,inplace=True)

/tmp/ipython-input-2300835814.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Property Uniqueness'].replace('NOT AVAILABLE',np.nan,inplace=True)

In [657]:
main["Developer"].replace('Not Mentioned',np.nan,inplace=True)

/tmp/ipython-input-2899578594.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main["Developer"].replace('Not Mentioned',np.nan,inplace=True)

In [658]:
main['Approved Authority Name'].replace('Not Mentioned',np.nan,inplace=True)

/tmp/ipython-input-864077037.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Approved Authority Name'].replace('Not Mentioned',np.nan,inplace=True)

In [659]:
main['balconies'].replace('NO BAlCONY',np.nan,inplace=True)

/tmp/ipython-input-492206805.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['balconies'].replace('NO BAlCONY',np.nan,inplace=True)

In [660]:
main.drop('Price_in_Rupees',axis=1,inplace=True)

In [661]:
main.drop('Unnamed: 0',axis=1,inplace=True)

In [662]:
main.dropna(subset=['Developer'],inplace=True)

In [663]:
main.isna().sum()

ID                            0
Floor No                    500
Commercial                    0
Developer                     0
Approved Authority Name    3052
sqft Price                    0
Area Name                     0
Property Uniqueness        4306
Society                       0
Facing                        0
Type of Property              0
City                          0
furnished Type                0
Location                     55
balconies                  3506
Sea facing                    0
Price                         0
dtype: int64

In [664]:
main.drop('Property Uniqueness',axis=1,inplace=True)

In [665]:
main.isna().sum()

ID                            0
Floor No                    500
Commercial                    0
Developer                     0
Approved Authority Name    3052
sqft Price                    0
Area Name                     0
Society                       0
Facing                        0
Type of Property              0
City                          0
furnished Type                0
Location                     55
balconies                  3506
Sea facing                    0
Price                         0
dtype: int64

In [666]:
main['balconies'].unique()

array([nan, '3.0', '1.0', '2.0', '4.0', '5.0', '6.0', '7.0', '8.0'],
      dtype=object)

In [667]:
main.dropna(subset=['balconies'],inplace=True)

In [668]:
main.drop('Approved Authority Name',axis=1,inplace=True)

In [669]:
main.isna().sum()

ID                   0
Floor No            79
Commercial           0
Developer            0
sqft Price           0
Area Name            0
Society              0
Facing               0
Type of Property     0
City                 0
furnished Type       0
Location            25
balconies            0
Sea facing           0
Price                0
dtype: int64

In [670]:
main.dropna(subset=['Location'],inplace=True)

In [671]:
main.isna().sum()

ID                   0
Floor No            66
Commercial           0
Developer            0
sqft Price           0
Area Name            0
Society              0
Facing               0
Type of Property     0
City                 0
furnished Type       0
Location             0
balconies            0
Sea facing           0
Price                0
dtype: int64

In [672]:
main['SQFT_AREA']=main['Price']/main['sqft Price ']

In [673]:
# Function to calculate outliers using IQR
def count_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return len(outliers)

# Count outliers for 'REG_FEE' and 'SALES_PRICE'
outliers_Price = count_outliers_iqr(main, 'Price')
outliers_sqft_Price = count_outliers_iqr(main, 'sqft Price ')

print(f"Number of outliers in 'Price': {outliers_Price}")
print(f"Number of outliers in 'sqft Price': {outliers_sqft_Price}")

Number of outliers in 'Price': 318
Number of outliers in 'sqft Price': 166

In [674]:
main["sqft Price "].max()

89774

In [675]:
main

,ID,Floor No,Commercial,Developer,sqft Price,Area Name,Society,Facing,Type of Property,City,furnished Type,Location,balconies,Sea facing,Price,SQFT_AREA
3,12682,5,N,Birla Estates,8571,Kalyan West,Y,East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",3.0,1,9000000,1050.05
5,12680,16,N,Tycoons Group,6157,Kalyan West,Y,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,6570000,1067.08
8,12677,16,N,Godrej Properties,5826,Kalyan West,Y,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,3449000,592.00
14,12671,16,N,Gurukrupa Group,6763,Kalyan West,N,North - West,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,4700000,694.96
17,12668,9,N,Gurukrupa Group,7608,Kalyan West,N,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",2.0,1,7000000,920.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12662,23,4,N,Sheth Creators,17049,Andheri East,Y,North - East,Apartment,Mumbai,Semi-Furnished,"Andheri East, Mumbai",1.0,1,26000000,1525.02
12669,16,19,Y,Oberoi Realty Ltd.,40840,Andheri East,Y,North,Apartment,Mumbai,Semi-Furnished,"Andheri East, Mumbai",2.0,1,70000000,1714.01
12671,14,12,N,Nahar Group,28280,Andheri East,Y,East,Apartment,Mumbai,Unfurnished,"Andheri East, Mumbai",1.0,1,62500000,2210.04
12681,4,10,N,Kalpataru Ltd.,22529,Jogeshwari Vikhroli Link Road,Y,East,Apartment,Mumbai,Unfurnished,"Jogeshwari Vikhroli Link Road, Mumbai",1.0,1,31000000,1376.00
12682,3,5,N,Kalpataru Ltd.,19072,Jogeshwari Vikhroli Link Road,Y,North,Apartment,Mumbai,Semi-Furnished,"Jogeshwari Vikhroli Link Road, Mumbai",1.0,1,18500000,970.01

In [679]:
# Remove outliers for 'Price' using IQR
Q1_Price = main['Price'].quantile(0.25)
Q3_Price= main['Price'].quantile(0.75)
IQR_Price = Q3_Price - Q1_Price
lower_bound_Price = Q1_Price - 1.5 * IQR_Price
upper_bound_Price = Q3_Price + 1.5 * IQR_Price

main = main[(main['Price'] >= lower_bound_Price) & (main['Price'] <= upper_bound_Price)]

# Verify the number of outliers in 'Price' after removal
outliers_main_cleaned = count_outliers_iqr(main, 'Price')

print(f"Number of outliers in 'Price' after removal: {outliers_main_cleaned}")

Number of outliers in 'Price' after removal: 0

In [681]:
# Remove outliers for 'sqft Price ' using IQR
Q1_sqft_Price  = main['sqft Price '].quantile(0.25)
Q3_sqft_Price = main['sqft Price '].quantile(0.75)
IQR_sqft_Price = Q3_sqft_Price - Q1_sqft_Price
lower_bound_sqft_Price= Q1_sqft_Price - 1.5 * IQR_sqft_Price
upper_bound_sqft_Price = Q3_sqft_Price+ 1.5 * IQR_sqft_Price

main = main[(main['sqft Price '] >= lower_bound_sqft_Price) & (main['sqft Price '] <= upper_bound_sqft_Price)]

# Verify the number of outliers in 'sqft Price ' after removal
outliers_main_cleaned = count_outliers_iqr(main, 'sqft Price ')
print(f"Number of outliers in 'sqft Price ' after removal: {outliers_main_cleaned}")

Number of outliers in 'sqft Price ' after removal: 0

In [682]:
main

,ID,Floor No,Commercial,Developer,sqft Price,Area Name,Society,Facing,Type of Property,City,furnished Type,Location,balconies,Sea facing,Price,SQFT_AREA
3,12682,5,N,Birla Estates,8571,Kalyan West,Y,East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",3.0,1,9000000,1050.05
5,12680,16,N,Tycoons Group,6157,Kalyan West,Y,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,6570000,1067.08
8,12677,16,N,Godrej Properties,5826,Kalyan West,Y,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,3449000,592.00
14,12671,16,N,Gurukrupa Group,6763,Kalyan West,N,North - West,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,4700000,694.96
17,12668,9,N,Gurukrupa Group,7608,Kalyan West,N,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",2.0,1,7000000,920.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12655,30,10,N,Anchor Properties,12666,Andheri East,Y,East,Apartment,Mumbai,Unfurnished,"Andheri East, Mumbai",1.0,1,19000000,1500.08
12660,25,5,N,Oberoi Realty Ltd.,30864,Andheri East,Y,North,Apartment,Mumbai,Unfurnished,"Andheri East, Mumbai",2.0,0,42500000,1377.01
12662,23,4,N,Sheth Creators,17049,Andheri East,Y,North - East,Apartment,Mumbai,Semi-Furnished,"Andheri East, Mumbai",1.0,1,26000000,1525.02
12681,4,10,N,Kalpataru Ltd.,22529,Jogeshwari Vikhroli Link Road,Y,East,Apartment,Mumbai,Unfurnished,"Jogeshwari Vikhroli Link Road, Mumbai",1.0,1,31000000,1376.00
12682,3,5,N,Kalpataru Ltd.,19072,Jogeshwari Vikhroli Link Road,Y,North,Apartment,Mumbai,Semi-Furnished,"Jogeshwari Vikhroli Link Road, Mumbai",1.0,1,18500000,970.01

In [683]:
main.isna().sum()

ID                   0
Floor No            44
Commercial           0
Developer            0
sqft Price           0
Area Name            0
Society              0
Facing               0
Type of Property     0
City                 0
furnished Type       0
Location             0
balconies            0
Sea facing           0
Price                0
SQFT_AREA           17
dtype: int64

In [684]:
main

,ID,Floor No,Commercial,Developer,sqft Price,Area Name,Society,Facing,Type of Property,City,furnished Type,Location,balconies,Sea facing,Price,SQFT_AREA
3,12682,5,N,Birla Estates,8571,Kalyan West,Y,East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",3.0,1,9000000,1050.05
5,12680,16,N,Tycoons Group,6157,Kalyan West,Y,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,6570000,1067.08
8,12677,16,N,Godrej Properties,5826,Kalyan West,Y,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,3449000,592.00
14,12671,16,N,Gurukrupa Group,6763,Kalyan West,N,North - West,Apartment,Thane,Unfurnished,"Kalyan West, Thane",1.0,1,4700000,694.96
17,12668,9,N,Gurukrupa Group,7608,Kalyan West,N,North - East,Apartment,Thane,Unfurnished,"Kalyan West, Thane",2.0,1,7000000,920.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12655,30,10,N,Anchor Properties,12666,Andheri East,Y,East,Apartment,Mumbai,Unfurnished,"Andheri East, Mumbai",1.0,1,19000000,1500.08
12660,25,5,N,Oberoi Realty Ltd.,30864,Andheri East,Y,North,Apartment,Mumbai,Unfurnished,"Andheri East, Mumbai",2.0,0,42500000,1377.01
12662,23,4,N,Sheth Creators,17049,Andheri East,Y,North - East,Apartment,Mumbai,Semi-Furnished,"Andheri East, Mumbai",1.0,1,26000000,1525.02
12681,4,10,N,Kalpataru Ltd.,22529,Jogeshwari Vikhroli Link Road,Y,East,Apartment,Mumbai,Unfurnished,"Jogeshwari Vikhroli Link Road, Mumbai",1.0,1,31000000,1376.00
12682,3,5,N,Kalpataru Ltd.,19072,Jogeshwari Vikhroli Link Road,Y,North,Apartment,Mumbai,Semi-Furnished,"Jogeshwari Vikhroli Link Road, Mumbai",1.0,1,18500000,970.01

In [685]:
main.drop('SQFT_AREA',axis=1,inplace=True)

In [686]:
main['Price'].replace(0,np.nan,inplace=True)

/tmp/ipython-input-410579070.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['Price'].replace(0,np.nan,inplace=True)

In [687]:
main.isna().sum()

ID                   0
Floor No            44
Commercial           0
Developer            0
sqft Price           0
Area Name            0
Society              0
Facing               0
Type of Property     0
City                 0
furnished Type       0
Location             0
balconies            0
Sea facing           0
Price               17
dtype: int64

In [688]:
main.dropna(subset=['sqft Price '],inplace=True)

In [689]:
main.dropna(subset=['Price'],inplace=True)

In [690]:
main.isna().sum()

ID                   0
Floor No            44
Commercial           0
Developer            0
sqft Price           0
Area Name            0
Society              0
Facing               0
Type of Property     0
City                 0
furnished Type       0
Location             0
balconies            0
Sea facing           0
Price                0
dtype: int64

In [691]:
(main['Price'] > 35000000).sum()

np.int64(118)

In [692]:
main['SQFT_AREA']=main['Price']/main['sqft Price ']

In [693]:
main['sqft Price '].replace(0,np.nan)

3        8571.00
5        6157.00
8        5826.00
14       6763.00
17       7608.00
          ...
12655   12666.00
12660   30864.00
12662   17049.00
12681   22529.00
12682   19072.00
Name: sqft Price , Length: 2711, dtype: float64

In [694]:
main['Facing'].unique()

array(['East', 'North - East', 'North - West', 'Visit & See', 'West',
       'North', 'South - East', 'South', 'South -West'], dtype=object)

In [695]:
main['SQFT_AREA'].replace(np.inf,np.nan,inplace=True)

/tmp/ipython-input-2945086571.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main['SQFT_AREA'].replace(np.inf,np.nan,inplace=True)

In [696]:
inf_count = main[main['SQFT_AREA'] == np.inf].shape[0]
print(f"Number of infinite values in 'SQFT_AREA': {inf_count}")

Number of infinite values in 'SQFT_AREA': 0

In [697]:
main.dropna(subset=["SQFT_AREA"],inplace=True)

In [698]:
main.dropna(subset=['Floor No'],inplace=True)

In [699]:
main.isna().sum()

ID                  0
Floor No            0
Commercial          0
Developer           0
sqft Price          0
Area Name           0
Society             0
Facing              0
Type of Property    0
City                0
furnished Type      0
Location            0
balconies           0
Sea facing          0
Price               0
SQFT_AREA           0
dtype: int64

In [700]:
# # Remove duplicates while ignoring 'ID' column
# main = main.drop_duplicates(subset=main.columns.difference(['ID']), keep='first').reset_index(drop=True)

# # Show how many rows are left after cleaning
# print("Rows after removing duplicates:", len(main))

In [701]:
from sklearn.model_selection import train_test_split

# Split data into 80% and 20%
main_80, main_20 = train_test_split(main, test_size=0.2, random_state=42)

# Save the 20% split to a new CSV file
main_20.to_csv("main_properties_20.csv", index=False)

print("Data split into 80% and 20%.")
print("20% data saved to 'india_properties_20.csv'")

Data split into 80% and 20%.
20% data saved to 'india_properties_20.csv'

In [702]:
main_20.to_csv("main_20_price",index=False)

In [703]:
main_20.drop('Price',axis=1,inplace=True,)

In [704]:
main_20.drop('sqft Price ',axis=1,inplace=True)

In [705]:
main_20.to_csv('main_20',index=False)

In [706]:
main_80.to_csv("main_80",index=False)

In [707]:
main_80

,ID,Floor No,Commercial,Developer,sqft Price,Area Name,Society,Facing,Type of Property,City,furnished Type,Location,balconies,Sea facing,Price,SQFT_AREA
1959,10726,4,N,Eric Group,4285,Virar West,Y,East,Apartment,Mumbai,Semi-Furnished,"Virar West, Mumbai",3.0,1,2700000.00,630.11
11456,1229,5,N,Rustomjee,22636,Andheri West,N,Visit & See,Apartment,Mumbai,Unfurnished,"Andheri West, Mumbai",1.0,0,22500000.00,993.99
6282,6403,9,Y,MAA ASHAPURA DEVLOPERS,16315,Chembur East,Y,East,Apartment,Mumbai,Unfurnished,"Chembur East, Mumbai",1.0,1,15500000.00,950.05
1375,11310,11,Y,Regency Group,5471,Dombivli East,Y,East,Apartment,Thane,Unfurnished,"Dombivli East, Thane",3.0,1,4000000.00,731.13
4644,8041,5,Y,Ashwin Sheth Group,11628,Thane West,Y,East,Apartment,Thane,Unfurnished,"Thane West, Thane",2.0,1,15000000.00,1289.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7481,5204,9,N,Raj Realty Group,9027,Penkarpada,Y,East,Apartment,Mumbai,Unfurnished,"Penkarpada, Mumbai",3.0,1,6500000.00,720.06
4700,7985,6,N,Lodha,13478,Majiwada,N,Visit & See,Apartment,Thane,Furnished,"Majiwada, Thane",1.0,0,15500000.00,1150.02
4986,7699,5,N,Shakti Builders and Developers,14706,Thane West,N,East,Apartment,Thane,Furnished,"Thane West, Thane",1.0,0,10000000.00,679.99
5622,7063,19,N,Piramal Realty,17443,Balkum village,N,East,Apartment,Thane,Furnished,"Balkum village, Thane",1.0,1,23200000.00,1330.05
4099,8586,1,N,Kanakia Spaces Realty Pvt. Ltd.,19643,Teen Hath Naka,N,West,Apartment,Thane,Unfurnished,"Teen Hath Naka, Thane",1.0,0,27500000.00,1399.99

In [708]:
%pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.12/dist-packages (1.2.8)
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.0.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from catboost) (1.16.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (3.2.5)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->catboost) (8.5.0)

In [709]:
import pandas as pd
from catboost import CatBoostRegressor, Pool
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

# Load data
df = pd.read_csv('/content/main_80')

# #  Remove unnecessary index column if present
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

# Separate features and target
X = df.drop(['Price','sqft Price ','Facing','Area Name','Location','Commercial','balconies','furnished Type'], axis=1)
y = df['Price']

# Identify categorical columns (non-numeric)
cat_features = X.select_dtypes(include=['object']).columns.tolist()
print("Categorical features:", cat_features)

# Fill NaN values in categorical columns with a placeholder
for col in cat_features:
    X[col] = X[col].fillna('Unknown')


# Create CatBoost Pool (handles categorical columns automatically)
train_pool = Pool(data=X, label=y, cat_features=cat_features)

# Initialize and train CatBoost model
model = CatBoostRegressor(
    iterations=10000,
    learning_rate=0.03,
    depth=9,
    loss_function='RMSE', # RMSE is suitable for log-transformed target
    random_seed=42,
    verbose=200
)

model.fit(train_pool)

# Save model
model.save_model('catboost_main_model.cbm')
print(" Model trained successfully and saved!")

print("Numeric features used:", X.select_dtypes(include=[np.number]).columns.tolist())

Categorical features: ['Developer', 'Society', 'Type of Property', 'City']
0:	learn: 9643651.2436575	total: 5.86ms	remaining: 58.6s
200:	learn: 3304479.5378603	total: 1.6s	remaining: 1m 17s
400:	learn: 2705593.2732246	total: 3.35s	remaining: 1m 20s
600:	learn: 2309334.0524547	total: 5.96s	remaining: 1m 33s
800:	learn: 2008174.8411749	total: 8.85s	remaining: 1m 41s
1000:	learn: 1771432.9411848	total: 12.1s	remaining: 1m 48s
1200:	learn: 1579177.9616137	total: 14.7s	remaining: 1m 47s
1400:	learn: 1415198.0055475	total: 17.6s	remaining: 1m 47s
1600:	learn: 1279686.3283066	total: 20.9s	remaining: 1m 49s
1800:	learn: 1171077.4115830	total: 22.4s	remaining: 1m 42s
2000:	learn: 1075746.7886503	total: 23.6s	remaining: 1m 34s
2200:	learn: 990328.2513319	total: 24.8s	remaining: 1m 27s
2400:	learn: 917628.0020443	total: 26s	remaining: 1m 22s
2600:	learn: 846733.7816849	total: 27.1s	remaining: 1m 17s
2800:	learn: 786332.1655937	total: 28.3s	remaining: 1m 12s
3000:	learn: 731514.9891334	total: 29.4s	remaining: 1m 8s
3200:	learn: 685389.9172810	total: 30.6s	remaining: 1m 5s
3400:	learn: 643925.4305176	total: 32.3s	remaining: 1m 2s
3600:	learn: 606774.9473929	total: 33.7s	remaining: 60s
3800:	learn: 571467.0455785	total: 35.1s	remaining: 57.2s
4000:	learn: 540962.0268182	total: 36.4s	remaining: 54.6s
4200:	learn: 510604.9396313	total: 37.5s	remaining: 51.8s
4400:	learn: 481672.2267898	total: 38.7s	remaining: 49.2s
4600:	learn: 456495.6685389	total: 39.8s	remaining: 46.7s
4800:	learn: 433149.5779251	total: 41s	remaining: 44.4s
5000:	learn: 409871.9045847	total: 42.1s	remaining: 42.1s
5200:	learn: 388840.0464440	total: 43.9s	remaining: 40.5s
5400:	learn: 368943.3727818	total: 45.1s	remaining: 38.4s
5600:	learn: 351050.9854245	total: 46.3s	remaining: 36.3s
5800:	learn: 334559.3041658	total: 47.4s	remaining: 34.3s
6000:	learn: 318944.7447719	total: 48.5s	remaining: 32.3s
6200:	learn: 303820.6280427	total: 49.7s	remaining: 30.4s
6400:	learn: 288243.3218199	total: 50.8s	remaining: 28.6s
6600:	learn: 276092.5131802	total: 51.9s	remaining: 26.7s
6800:	learn: 263898.8506467	total: 53.1s	remaining: 25s
7000:	learn: 252823.5138342	total: 54.6s	remaining: 23.4s
7200:	learn: 242061.3671939	total: 56.1s	remaining: 21.8s
7400:	learn: 232194.2080569	total: 57.2s	remaining: 20.1s
7600:	learn: 223277.9085819	total: 58.4s	remaining: 18.4s
7800:	learn: 214885.7174038	total: 59.6s	remaining: 16.8s
8000:	learn: 206157.3759024	total: 1m	remaining: 15.2s
8200:	learn: 198050.8027210	total: 1m 2s	remaining: 13.7s
8400:	learn: 190464.9218131	total: 1m 3s	remaining: 12.1s
8600:	learn: 182865.7680208	total: 1m 4s	remaining: 10.5s
8800:	learn: 175301.8478527	total: 1m 6s	remaining: 9.04s
9000:	learn: 168945.7326640	total: 1m 7s	remaining: 7.52s
9200:	learn: 162398.6214448	total: 1m 8s	remaining: 5.99s
9400:	learn: 156453.9266677	total: 1m 10s	remaining: 4.47s
9600:	learn: 150619.9590969	total: 1m 11s	remaining: 2.97s
9800:	learn: 145108.5330304	total: 1m 12s	remaining: 1.48s
9999:	learn: 140151.9303995	total: 1m 13s	remaining: 0us
 Model trained successfully and saved!
Numeric features used: ['ID', 'Floor No', 'Sea facing', 'SQFT_AREA']

In [710]:
import pandas as pd
import numpy as np
from catboost import CatBoostRegressor, Pool

# Paths (adjust if your filenames differ)
train_path = '/content/main_80'
test_path = '/content/main_20'
model_path = '/content/catboost_main_model.cbm'

# Load training data to get schema
train_df = pd.read_csv(train_path)
expected_features = [c for c in train_df.columns if c != 'Price']

# Detect categorical columns from training data
cat_features = train_df[expected_features].select_dtypes(include=['object']).columns.tolist()
print("Categorical features:", cat_features)

# Load trained CatBoost model
model = CatBoostRegressor()
model.load_model(model_path)

# Load test data (without price)
test_df = pd.read_csv(test_path).copy()

# Make sure the test data has same columns as training data
for col in expected_features:
    if col not in test_df.columns:
        test_df[col] = np.nan

# Reorder columns to match training
X_test = test_df[expected_features]

# Convert categorical features to string type
for c in cat_features:
    X_test[c] = X_test[c].astype(str)

# Create Pool for CatBoost
test_pool = Pool(data=X_test, cat_features=cat_features)

# Predict prices
predictions = model.predict(test_pool)

# Add predictions to your test dataframe
test_df['PREDICTED_Price'] = predictions

# Save new CSV with predictions
output_path = '/content/main_20_with_predicted_price.csv'
test_df.to_csv(output_path, index=False)

print(" Prediction complete! File saved as:", output_path)

# Display predictions in full number format
pd.options.display.float_format = '{:.2f}'.format

display(test_df[['PREDICTED_Price']].head())

Categorical features: ['Commercial', 'Developer', 'Area Name', 'Society', 'Facing', 'Type of Property', 'City', 'furnished Type', 'Location']
 Prediction complete! File saved as: /content/main_20_with_predicted_price.csv

   PREDICTED_Price
0      17717468.22
1       4180055.28
2      11912406.41
3      15888670.85
4       5160907.36

In [711]:
import pandas as pd
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

# Paths (adjust if needed)
pred_path = '/content/main_20_with_predicted_price.csv'
actual_path = '/content/main_20_price'

# Load both CSVs
pred_df = pd.read_csv(pred_path)
actual_df = pd.read_csv(actual_path)

# Merge on common columns (like property ID or other shared keys)
# If both files have identical row order, you can merge by index instead
combined = pd.merge(actual_df, pred_df[['ID', 'PREDICTED_Price']], on='ID', how='inner')

# Calculate metrics
r2 = r2_score(combined['Price'], combined['PREDICTED_Price'])
rmse = np.sqrt(mean_squared_error(combined['Price'], combined['PREDICTED_Price']))

print(f"R-squared (Accuracy): {r2:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse:,.2f}")

# Optional: display first few comparisons
comparison = combined[['Price', 'PREDICTED_Price']].head(10)
print("\nSample comparison:")
print(comparison)

R-squared (Accuracy): 0.8853
Root Mean Squared Error (RMSE): 3,512,591.42

Sample comparison:
        Price  PREDICTED_Price
0 15000000.00      17717468.22
1  3900000.00       4180055.28
2 11000000.00      11912406.41
3 13500000.00      15888670.85
4  4200000.00       5160907.36
5 12700000.00      11983895.03
6 37000000.00      37246144.16
7  6757000.00       5668015.65
8 20500000.00      19186286.41
9 14500000.00      16322580.94